table, th, td{
    border: 1px solid black; 
    text-align: center;
    border-collapse: collapse;
}
table{
    width: 30%;
    color: black;
}

tr td:hover{
    background-color: rgb(168, 250, 196);
}