table, th, td{
    border: 1px solid black; 
    text-align: center;
    border-collapse: collapse;
}
table{
    width: 30%;
    color: white;
}
a{
   text-decoration: none;

}
tr td:hover{
    background-color: darkslateblue;
}